<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.manage.mapper.ItemMapper">
	<select id="queryItemListByUpdatedDesc" resultType="com.taotao.manage.pojo.Item" parameterType="com.taotao.manage.pojo.Item">
		SELECT 
		i.id,
		i.title,
		c.name as cname,
		i.sell_point,
		i.price,
		i.num,
		i.barcode,
		i.status,
		i.created,
		i.updated,
		i.image,
		i.cid
		from tb_item i 
		INNER JOIN tb_item_cat c 
		on i.cid = c.id
		where 1=1
		<if test="title!= null and title !=''">
			and i.title like concat('%',concat(#{title},'%'))
		</if>
		order by updated desc
	</select>
</mapper>
